spring:
  application:
    name: apiGateway

  cloud:
    gateway:
      routes:
        - id: AuthUserService
          uri: lb://AuthUserService
          predicates:
            - Path=/auth/**,/users/**
      default-filters:
        - TokenRelay
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/MovieReservationSystem

management:
    endpoints:
      web:
        exposure:
          include: "*"
    endpoint:
      health:
        show-details: always
      info:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

server:
  port: 8081
